<!doctype html>
<html lang="pt-BR">

    <!-- Mirrored from themesbrand.com/lexa/layouts/layouts-horizontal.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 14 Jun 2023 00:27:24 GMT -->
    <head>

        <meta charset="utf-8" />
        <title>Dashboard Área do cliente | RevoTv</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="Premium Multipurpose Admin & Dashboard Template"
            name="description" />
        <meta content="Themesbrand" name="author" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="assets/images/favicon.ico">

        <!-- Bootstrap Css -->
        <link href="assets/css/bootstrap.min.css" id="bootstrap-style"
            rel="stylesheet" type="text/css" />
        <!-- Icons Css -->
        <link href="assets/css/icons.min.css" rel="stylesheet" type="text/css" />
        <!-- App Css-->
        <link href="assets/css/app.min.css" id="app-style" rel="stylesheet"
            type="text/css" />

    </head>

    <body data-topbar="light" data-layout="horizontal">

        <!-- Begin page -->
        <div id="layout-wrapper">

            <header id="page-topbar">
                <div class="navbar-header">
                    <div class="container-fluid">
                        <div class="float-start">
                            <!-- LOGO -->
                            <div class="navbar-brand-box">
                                <a href="index.html" class="logo logo-dark">
                                    <span class="logo-sm">
                                        <img src="assets/images/logo-sm.png" alt
                                            height="22">
                                    </span>
                                    <span class="logo-lg">
                                        <img src="assets/images/logo-dark.png"
                                            alt height="19">
                                    </span>
                                </a>

                                <a href="index.html" class="logo logo-light">
                                    <span class="logo-sm">
                                        <img src="assets/images/logo-sm.png" alt
                                            height="22">
                                    </span>
                                    <span class="logo-lg">
                                        <img src="assets/images/logo-light.png"
                                            alt height="19">
                                    </span>
                                </a>
                            </div>

                            <button type="button"
                                class="btn btn-sm px-3 font-size-24 d-lg-none header-item waves-effect waves-light"
                                data-bs-toggle="collapse"
                                data-bs-target="#topnav-menu-content">
                                <i class="mdi mdi-menu"></i>
                            </button>
                        </div>

                        <div class="float-end">

                            
                            <div class="dropdown d-none d-lg-inline-block">
                                <button type="button"
                                    class="btn header-item noti-icon waves-effect"
                                    data-toggle="fullscreen">
                                    <i class="mdi mdi-fullscreen font-size-24"></i>
                                </button>
                            </div>

                            <div class="dropdown d-inline-block d-lg-none ms-2">
                                <button type="button"
                                    class="btn header-item noti-icon waves-effect"
                                    id="page-header-search-dropdown"
                                    data-bs-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="mdi mdi-magnify"></i>
                                </button>
                                <div
                                    class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0"
                                    aria-labelledby="page-header-search-dropdown">

                                    <form class="p-3">
                                        <div class="form-group m-0">
                                            <div class="input-group">
                                                <input type="text"
                                                    class="form-control"
                                                    placeholder="Search ..."
                                                    aria-label="Recipient's username">
                                                <div class="input-group-append">
                                                    <button
                                                        class="btn btn-primary"
                                                        type="submit"><i
                                                            class="mdi mdi-magnify"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            

                            <div class="dropdown d-inline-block">
                                <button type="button"
                                    class="btn header-item waves-effect"
                                    id="page-header-user-dropdown"
                                    data-bs-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    <img
                                        class="rounded-circle header-profile-user"
                                        src="assets/images/users/user-4.jpg"
                                        alt="Header Avatar">
                                </button>
                                <div class="dropdown-menu dropdown-menu-end">
                                    <!-- item-->
                                    <a class="dropdown-item text-danger"
                                        href="#"><i
                                            class="mdi mdi-power font-size-17 text-muted align-middle me-1 text-danger"></i>
                                        Logout</a>
                                </div>
                            </div>

                            

                        </div>
                    </div>
                </div>

                <div class="top-navigation">
                    <div class="page-title-content">
                        <div class="container-fluid">
                            <!-- start page title -->
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="page-title-box">
                                        <h4>Área do Cliente</h4>
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a
                                                    href="javascript: void(0);">RevoTv</a></li>
                                            <li class="breadcrumb-item">
                                        </ol>
                                    </div>
                                </div>
                        
                            </div>
                            <!-- end page title -->
                        </div>
                    </div>

                    <div class="container-fluid">
                        <div class="topnav">
                            <nav
                                class="navbar navbar-light navbar-expand-lg topnav-menu">

                                <div class="collapse navbar-collapse"
                                    id="topnav-menu-content">
                                    <ul class="navbar-nav">
                                        <li class="nav-item">
                                            <a class="nav-link"
                                                href="/">
                                                <i class="ti-dashboard"></i>Dashboard
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link"
                                                href="/checkout">
                                                <i class="ti-credit-card"></i>Fatura
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link"
                                                href="https://revotv.net/suporte">
                                                <i class="ti-help-alt"></i>Dúvidas e Suporte
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link"
                                                href="https://revotv.net/instala">
                                                <i class="ti-cloud-up"></i>Instalar nosso sistema
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>

            </header>

            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">

                <div class="page-content">
                    <div class="container-fluid">

                        <div class="row">
                            <div class="card">
                                <div class="card-body">
                                    {% if dataCheckout is defined %} 
                                        {% for dataCheckout in dadosCheckout %}
                                            <h4 class="card-title mb-4">{{ dataCheckout.price }}</h4>
                                        {% endfor %} 
                                    {%  else %}
                                        <h4 class="card-title mb-4">{{title}}</h4>
                                    {% endif %}    
                                    <div class="inbox-wid">
                                        <form id="BuyForm" class="j_form">
                                            <input type="hidden" name="AjaxFile" value="Finances">
                                            <input type="hidden" name="AjaxAction" value="buy">
                                
                                            <div class="row" bis_skin_checked="1">
                                              <div class="col-md-6 mb-3" bis_skin_checked="1">
                                                <label>*Plano</label>
                                                <select class="form-control j_input_package" name="package_id">
                                                    {% for dataCheckout in dadosCheckout %}
                                                    <option value="{{ dataCheckout.price }}">{{ dataCheckout.price }}</option>
                                                    
                                                  {% endfor %}
                                                </select>
                                              </div>
                                             
                                
                                              <div class="col-md-6 mb-3" bis_skin_checked="1">
                                                <label>*Forma de Pagamento</label>
                                                <select class="form-control j_select_gateway" name="gateway_id" required="">
                                                  <option value=""></option>
                                                  <option value="4">Transferência Bancária</option>                </select>
                                              </div>
                                
                                              <div class="j_new_input_by_gateway col-md-6 mb-3" bis_skin_checked="1"></div>
                                            </div>
                                
                                            <button class="btn btn-primary" type="submit">Gerar Fatura</button>
                                          </form>
                                    </div>
                                </div>
                            </div>
                            
                            
                        </div>
                        <!-- end row -->

                        <div class="row">
                            {% if session.flashBag.has('danger') %}
                                    <div class="alert alert-danger">
                                        {% for message in session.flashBag.get('danger') %}
                                            {{ message }}
                                        {% endfor %}
                                    </div>
                                    {% endif %}
                                    {% if session.flashBag.has('success') %}
                                    <div class="alert alert-success">
                                        {% for message in session.flashBag.get('success') %}
                                            {{ message }}
                                        {% endfor %}
                                    </div>
                                    {% endif %}

                            <div class="col-xl-3">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title mb-4">Dados de acesso </h4>
                                        <div class="inbox-wid">
                                           <form action="/update" method="post">
                                                <label for="example-text-input" class="col-md-4 col-form-label">Usuário</label>
                                                <div class="col-md-10">
                                                    <input class="form-control" disabled type="text" value="{{username}}"  id="example-text-input">
                                                    
                                                    <button type="button" onclick="copiarTexto(this)" class="btn btn-primary waves-effect waves-light btn-sm" id="botaoCopiar">Copiar</button>
                                                </div>
                                                <label for="example-text-input" class="col-md-4 col-form-label">Senha</label>
                                                <div class="col-md-10">
                                                    <input class="form-control" name="password" type="text" value="{{password}}"  id="id-password">
                                                    <button type="button" onclick="copiarpassword(this)" class="btn btn-primary waves-effect waves-light btn-sm" id="botaoCopiar1">Copiar</button>
                                                </div>
                                                <label for="example-text-input" class="col-md-2 col-form-label">Url</label>
                                                <div class="col-md-10">
                                                    <input class="form-control"  disabled type="text" value="http://barato.top"  id="id-url">
                                                    <button type="button" onclick="copiarURL(this)" class="btn btn-primary waves-effect waves-light btn-sm" id="botaoCopiar2">Copiar</button>
                                                </div>
                                                <br>
                                                <br>
                                                <div class="col-md-10">
                                                    <button type="submit" class="btn btn-success waves-effect waves-light" id="sa-basic">Salvar</button>
                                                </div>

                                           </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title mb-4">Informações</h4>

                                        <div class="row text-center mt-4">
                                            <h4>{{title}}</h4>

                                        </div>
                                        <div class="row mt-4">
                                            <h6>{{content}}</h6>

                                        </div>
                                       
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-3">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title mb-4">
                                            Assistindo agora
                                            </h4>

                                        <div class="row  mt-4">
                                            {%if get_stream == 0 %}
                                                <h5>OFFLINE</h5>
                                            {%else%}
                                                <h5>{{get_stream}}</h5>
                                            {%endif%}    
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- end row -->

                        
                        <!-- end row -->

                    </div> <!-- container-fluid -->
                </div>
                <!-- End Page-content -->

                <footer class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-12">
                                © <script>document.write(new Date().getFullYear())</script>
                                Lexa <span class="d-none d-sm-inline-block"> -
                                    Crafted with <i
                                        class="mdi mdi-heart text-danger"></i>
                                    by Gr Softwares.</span>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
            <!-- end main content-->

        </div>
        <!-- END layout-wrapper -->

        <!-- Right Sidebar -->
        <div class="right-bar">
            <div data-simplebar class="h-100">

                <div class="rightbar-title d-flex align-items-center px-3 py-4">

                    <h5 class="m-0 me-2">Settings</h5>

                    <a href="javascript:void(0);"
                        class="right-bar-toggle ms-auto">
                        <i class="mdi mdi-close noti-icon"></i>
                    </a>
                </div>

                <!-- Settings -->
                <hr class="mt-0" />

                <div class="px-4 py-2">
                    <h6 class="mb-3">Select Custome Colors</h6>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input theme-color" type="radio"
                            name="theme-mode"
                            id="theme-default" value="default"
                            onchange="document.documentElement.setAttribute('data-theme-mode', 'default')"
                            checked>
                        <label class="form-check-label" for="theme-default">Default</label>
                    </div>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input theme-color" type="radio"
                            name="theme-mode"
                            id="theme-red" value="red"
                            onchange="document.documentElement.setAttribute('data-theme-mode', 'red')">
                        <label class="form-check-label" for="theme-red">Red</label>
                    </div>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input theme-color" type="radio"
                            name="theme-mode"
                            id="theme-teal" value="teal"
                            onchange="document.documentElement.setAttribute('data-theme-mode', 'teal')">
                        <label class="form-check-label" for="theme-teal">Teal</label>
                    </div>
                </div>

                <h6 class="text-center mb-0 mt-3">Choose Layouts</h6>

                <div class="p-4">
                    <div class="mb-2">
                        <img src="assets/images/layouts/layout-1.jpg"
                            class="img-thumbnail" alt>
                    </div>
                    <div class="form-check form-switch mb-3">
                        <input type="checkbox"
                            class="form-check-input theme-choice"
                            id="light-mode-switch" checked />
                        <label class="form-check-label" for="light-mode-switch">Light
                            Mode</label>
                    </div>

                    <div class="mb-2">
                        <img src="assets/images/layouts/layout-2.jpg"
                            class="img-thumbnail" alt>
                    </div>
                    <div class="form-check form-switch mb-3">
                        <input type="checkbox"
                            class="form-check-input theme-choice"
                            id="dark-mode-switch"
                            data-bsStyle="assets/css/bootstrap-dark.min.css"
                            data-appStyle="assets/css/app-dark.min.css" />
                        <label class="form-check-label" for="dark-mode-switch">Dark
                            Mode</label>
                    </div>

                    <div class="mb-2">
                        <img src="assets/images/layouts/layout-3.jpg"
                            class="img-thumbnail" alt>
                    </div>
                    <div class="form-check form-switch mb-5">
                        <input type="checkbox"
                            class="form-check-input theme-choice"
                            id="rtl-mode-switch"
                            data-appStyle="assets/css/app-rtl.min.css" />
                        <label class="form-check-label" for="rtl-mode-switch">RTL
                            Mode</label>
                    </div>

                </div>

            </div> <!-- end slimscroll-menu-->
        </div>
        <!-- /Right-bar -->

        <!-- Right bar overlay-->
        <div class="rightbar-overlay"></div>

        <!-- JAVASCRIPT -->
        <script src="assets/libs/jquery/jquery.min.js"></script>
        <script src="assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="assets/libs/metismenu/metisMenu.min.js"></script>
        <script src="assets/libs/simplebar/simplebar.min.js"></script>
        <script src="assets/libs/node-waves/waves.min.js"></script>
        <script src="assets/libs/jquery-sparkline/jquery.sparkline.min.js"></script>

        <!--Morris Chart-->
        <script src="assets/libs/morris.js/morris.min.js"></script>
        <script src="assets/libs/raphael/raphael.min.js"></script>

        <script src="assets/js/pages/dashboard.init.js"></script>
        <script>
            function copiarTexto() {
              var campoDeEntrada = document.getElementById("example-text-input");
        
              /* Obtém o valor atual do campo de entrada */
              var valorCampo = campoDeEntrada.value;
        
              /* Cria um elemento de área de texto temporário */
              var elementoTemporario = document.createElement("textarea");
        
              /* Define o valor do elemento de área de texto como o valor do campo */
              elementoTemporario.value = valorCampo;
        
              /* Adiciona o elemento de área de texto temporário ao documento */
              document.body.appendChild(elementoTemporario);
        
              /* Seleciona o texto dentro do elemento de área de texto temporário */
              elementoTemporario.select();
        
              /* Copia o texto selecionado para a área de transferência */
              document.execCommand("copy");
        
              /* Remove o elemento de área de texto temporário do documento */
              document.body.removeChild(elementoTemporario);
        
              /* Altera o valor do botão para "Copiado" */
              var botao = document.getElementById("botaoCopiar");
              botao.innerHTML = "Copiado";
              botao.disabled = true;
            }
          </script>
          <script>
            function copiarpassword() {
              var campoDeEntrada = document.getElementById("id-password");
        
              /* Obtém o valor atual do campo de entrada */
              var valorCampo = campoDeEntrada.value;
        
              /* Cria um elemento de área de texto temporário */
              var elementoTemporario = document.createElement("textarea");
        
              /* Define o valor do elemento de área de texto como o valor do campo */
              elementoTemporario.value = valorCampo;
        
              /* Adiciona o elemento de área de texto temporário ao documento */
              document.body.appendChild(elementoTemporario);
        
              /* Seleciona o texto dentro do elemento de área de texto temporário */
              elementoTemporario.select();
        
              /* Copia o texto selecionado para a área de transferência */
              document.execCommand("copy");
        
              /* Remove o elemento de área de texto temporário do documento */
              document.body.removeChild(elementoTemporario);
        
              /* Altera o valor do botão para "Copiado" */
              var botao = document.getElementById("botaoCopiar1");
              botao.innerHTML = "Copiado";
              botao.disabled = true;
            }
          </script>
          <script>
            function copiarURL() {
              var campoDeEntrada = document.getElementById("id-url");
        
              /* Obtém o valor atual do campo de entrada */
              var valorCampo = campoDeEntrada.value;
        
              /* Cria um elemento de área de texto temporário */
              var elementoTemporario = document.createElement("textarea");
        
              /* Define o valor do elemento de área de texto como o valor do campo */
              elementoTemporario.value = valorCampo;
        
              /* Adiciona o elemento de área de texto temporário ao documento */
              document.body.appendChild(elementoTemporario);
        
              /* Seleciona o texto dentro do elemento de área de texto temporário */
              elementoTemporario.select();
        
              /* Copia o texto selecionado para a área de transferência */
              document.execCommand("copy");
        
              /* Remove o elemento de área de texto temporário do documento */
              document.body.removeChild(elementoTemporario);
        
              /* Altera o valor do botão para "Copiado" */
              var botao = document.getElementById("botaoCopiar2");
              botao.innerHTML = "Copiado";
              botao.disabled = true;
            }
          </script>
          
        <!-- App js -->
        <script src="assets/js/app.js"></script>
    </body>

    <!-- Mirrored from themesbrand.com/lexa/layouts/layouts-horizontal.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 14 Jun 2023 00:29:55 GMT -->
</html>